header {
	background:  #BBBBBB;  		/*  cor fundo do header */
	padding:  20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin:  0 auto;
}

nav{
	position:  absolute;
	top:  110px;
	right:  0;
}


nav li{
	display: inline;
	margin: 0 0 0 15px; 		/*espaço para direita*/
}

nav a {
	text-transform: uppercase; /*Transformação do texto para deixar tudo em maiusculo*/
	color: #000000;            /*Pintou de preto */
	font-weight: bold;         /*Peso da fonte em negrito */
	font-size: 22px;			/*  tamanho 22px*/
	text-decoration: none;		/* tiramos o sunblinado */

}


/* animação menu */

nav a:hover {
	color:  #c78c19;
	text-decoration:  underline;   /*sublinado quando o mouse estiver por cima do link */
}







.produtos{
	width: 940px;
	margin: 0 auto;
	padding:  50px 0;
}

.produtos li {
	display:  inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin:  0 1.5%;
	padding:  30px 20px;
	box-sizing:  border-box;
	/*bordas*/
	border: 2px solid #000000;
	border-radius: 10px;			/* arredondar as bordas */

}





.produtos li:hover {
	border-color: #c78c19 ;  		/* cor da linha dos itens produtos */
	font-size: 40px;
} 

.produtos li:active {
	border-color: #088c19;			/* cor da linha quando a seta estiver em cima e quando estiver clicando */
}

.produtos li:hover h2 {				/* quando o mouse estiver em cima dos produtos alterar o h2, fonte aumenta */
	font-size:  34px;

}




.produtos h2 {
	font-size: 30px;				/*  tamnho 22px*/
	font-weight: bold; 				/*Peso da fonte em negrito */
}

.produto-descricao {
	font-size:  18px;				/*  tamnho 22px*/
}

.produto-preco {
	font-size:  22px;				/*  tamnho 22px*/
	font-weight:  bold;				/*Peso da fonte em negrito */
	margin-top:  10px;
}

footer {
	text-align:  center;  			/*centralizar itens do rodape */
	background: url("bg.jpg"); 		/* cor de fundo da imagem*/
	padding:  40px;					/* espaçamento interno da imagem */
}

.copyright {
	color: #ffffff;
	font-size: 13px;
	margin:  20px 0 0;
}

main {
	width:  940px;
	margin:  0 auto;
}

form {
	margin:  40px 0;
}

form label, form p{
	display: block;
	font-size: 20px;
	margin:  0 0 10px;
}

.input-padrao{
	display: block;
	margin:  0 0 20px;
	padding:  10px 25px;
	width:  50%;
}

.checkbox {
	margin:  20px 0;
}

